.pagetitle {
    padding-bottom: 0;
}
.titlebg {
    padding-top: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.titlebg .greenbg {
    padding: 25px;
}
@media (min-width: 992px) {
    .titlebg .greenbg {
        padding: 25px 50px;
    }
}
.pagetitle h1.greentext {
    letter-spacing: 0.3px;
}
.intropara {
    padding-top: 40px;
}
.intropara .obsv {
    padding-left: 0;
    padding-right: 5%;
}
.intropara .obsv h3 {
    margin-top: 0;
}
.intropara .aim:after, .comptext .panelleft:after, .longright .comptext .panelright:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.1);
}
.longright .comptext .panelleft:after {
    display: none;
}
.longright .comptext .panelright:after,.intropara .aim:after {
    right: initial;
    left: 0;
}
.intropara .aim {
    padding-left: 5%;
    padding-right: 0;
}
.intropara .aim p {
    padding-bottom: 5px;
}
.tabspanel .nav-tabs {
    padding-top: 75px;
    border: none;
}
.tabspanel .nav-tabs>li>h3 {
    margin-top: 10px;
    letter-spacing: 0.5px;
}
.tabspanel .nav-tabs>li>a {
    border-radius: 0;
    font-size: 12px;
    font-weight: 700;
    border: none !important;
    margin: 0;
    cursor: pointer;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    cursor: pointer !important;
    background: #fff;
    color: #54bf72;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: none;
}
/*.tabspanel .nav-tabs>li.active>a, .tabspanel .nav-tabs>li.active>a:hover,*/ .tabspanel .nav-tabs>li>a:hover {
    background: #54bf72;
    color: #FFF;
}

@media (min-width: 992px) {
    .tabspanel .nav-tabs>li>a.col-md-6 {
        width: calc(50% - 10px);
        margin-left: 5px;
        margin-right: 5px;
    }
    .tabspanel .nav-tabs>li>a.col-md-6:nth-child(n+4) {
        margin-top: 20px;
    }
    .tabspanel .nav-tabs>li.col-md-3 {
        width: calc(25% - 10px);
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: initial;
    }
    .stickytabs.tabspanel .nav-tabs>li.col-md-3 {
        width: 25%;
        margin-left: 0;
        margin-right: 0;
    }
}

.twotabs .findrop .dropdown-menu>li>a {
    padding: 0;
    letter-spacing: 0.5px;
    color: #54bf72;
    text-transform: uppercase;
    font-weight: 500;
}
.twotabs .findrop .dropdown-menu .divider:nth-child(1) {
    background-color: #54bf72;
    margin: 0 0 9px 0;
}
.twotabs .findrop .dropdown-menu>li>a:hover {
    background: none;
}
.twotabs .findrop button {
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.findroparrow {
    width: 15px;
    float: right;
}
.stickytabs {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 999;
    display: none;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.twotabs .findrop .dropdown-menu {
    -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
}
.stickytabs.twotabs .findrop button ,.stickytabs.twotabs .findrop button:hover, .stickytabs.twotabs .findrop button:active{
    padding: 12px 20px 12px 40px !important;
}
.stickytabs.twotabs .findrop .dropdown-menu {
    padding: 0 50px 15px 40px;
}
.tabspanel.stickytabs .nav-tabs {
    padding-top: 58px;
    margin-left: -5px;
    margin-right: -5px;
}
.tabspanel.stickytabs .nav-tabs>li>a {
    box-shadow: none;
}
@media(min-width: 1025px) {
    .tabspanel.stickytabs .nav-tabs>li>a:hover {
        background: rgba(84, 191, 114, 0.2) !important;
        color: #54bf72 !important;
    }
    .secagain, .tab-content {
        padding-top: 95px !important
    }
    .secagain.seclast {
        padding-bottom: 95px !important
    }
    .secagain.secfirst {
        padding-top: 0 !important
    }
}
.tabspanel.stickytabs .nav-tabs>li>a.itsactive {
    background: #54bf72;
    color: #FFF;
}
.tabspanel.stickytabs .nav-tabs>li>a.itsactive:hover {
    background: #54bf72 !important;
}
.tab-content .titlebg {
    margin-bottom: 50px;
}
.compintro {
    padding-bottom: 50px;
}
.secagain {
    padding-top: 100px;
}
.secagain.secfirst {
    padding-top: 0;
}
.secagain.seclast {
    padding-bottom: 100px;
}
.tab-content {
    padding-top: 100px;
}
.compintro .imager {
    min-height: 380px;
    background-position: center;
    background-size: cover;
}
.compintro .greenbg {
    padding: 30px;
    /*margin-top: calc(( (115px - 325px) / 2 ) - 115px );*/
    margin-top: -102.5px;
    text-align: center;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.comptext .panelleft {
    padding-left: 0;
    padding-right: 50px;
}

.comptext .panelright {
    padding-right: 20px;
    /*padding-right: 40px;*/
    padding-left: 35px;
}

.comptext .panelright div p.p3 {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 21px;
}

.comptext .panelright div p.p3:nth-last-child(1) {
    margin-bottom: 0;
}

.comptext .panelleft h3.contxt {
    padding-bottom: 35px;
}

.comptext .panelleft ol, .comptext .panelleft ul {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
}

.comptext .panelleft ol li, .comptext .panelleft ul li {
    padding-left: 10px;
    padding-bottom: 10px;
}

.comptext .panelleft ol li:nth-last-child(1) {
    padding-bottom: 0;
}
.cardread {
    padding-bottom: 20px;
}
.cardread .col-md-6 {
    margin-bottom: 10px;
}
.cardread .col-md-6:nth-child(odd) {
    clear: both;
    padding-left: 0;
    padding-right: 5px;
}
.cardread .col-md-6:nth-child(even) {
    padding-left: 5px;
    padding-right: 0;
}
.cardread .greenbgop15 {
    padding: 20px;
}
.cardread .greenbgop15.lines4 {
    min-height: 132px;
}
.cardread .greenbgop15.lines3 {
    min-height: 109px;
}
.cardread .greenbgop15.lines2 {
    min-height: 82px;
}
.progcard {
    padding: 50px 100px 40px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.progcard2 {
    padding: 30px 55px 50px;
    margin-bottom: 10px;
}
.comptext .panelleft .progcard:nth-last-child(2) {
    margin-bottom: 0;
}

.progcard hr {
    width: 70px;
    margin: 7px 0 12px;
    border: solid 0.5px #54bf72;
}

.quoters {
    margin-top: 20px !important;
    padding-bottom: 30px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.quoters .swiper-slide {
    padding: 50px 100px 20px;
}

.quoters .swiper-slide .p3 {
    padding-top: 10px;
}

.quoters .swiper-button-next,
.quoters  .swiper-button-prev {
    background: none;
    height: 10px;
}

.quoters .swiper-button-next img,
.quoters  .swiper-button-prev img {
    height: 100%;
}

.quoters  .swiper-button-prev {
    left: 30px;
}

.quoters .swiper-button-next {
    right: 30px;
}

.quoters.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 30px;
}

.quoters .swiper-pagination-bullet, .carousel-indicators li {
    background: none;
    border: 1px solid #54bf72;
    opacity: 1;
    padding: 0 !important;
}

.quoters .swiper-pagination-bullet-active,.carousel-indicators li.active {
    opacity: 1;
    background: #54bf72;
}
.progcard.quoters {
    padding: 50px 100px;
}
.progcard.craters {
    padding: 50px;
}
.panelright h2, .panelleft .optitle {
    opacity: 0.3;
    padding-bottom: 15px;
}

.panelright hr {
    opacity: 0.1;
    margin: 30px 0 30px -35px;
    border-top: solid 1px #000000;
}

.panelright .innerhr {
    opacity: 1;
    margin: 20px 0;
    width: 130px;
    border-top: solid 1px #54bf72;
}

.panelright .imps:nth-last-child(1) {
    margin-bottom: 0;
}

.cased .imgcontainer, .cased .imps {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .page-template-work-community .tabspanel.stickytabs .nav-tabs {
        padding-top: 28px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .container {
        width: 970px;
    }
    .pagetitle .greenbg {
        width: 70%;
    }
    .tabspanel.stickytabs .nav-tabs>li>a {
        padding: 10px 8px;
    }
    .tabspanel .nav-tabs>li>a {
        padding: 10px 0;
        font-size: 10px;
    }
    .longrightmes .comptext .panelleft:after {
        display: none;
    }
    .longrightmes .comptext .panelright:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 1px;
        background: rgba(0, 0, 0, 0.1);
        right: initial;
        left: 0;
    }
    .titlebg .greenbg {
        width: 69%;
    }
    .quoters .swiper-slide {
        padding: 50px 100px 50px;
    }
    .quoters  .swiper-button-prev {
        left: 40px;
    }
    .quoters .swiper-button-next {
        right: 40px;
    }
    .cardread .greenbgop15.lines2mes {
        min-height: 82px;
    }
    .cardread .greenbgop15.lines3mes {
        min-height: 103px;
    }
    .cardread .greenbgop15.lines4mes {
        min-height: 124px;
    }
    .cardread .greenbgop15.lines5mes {
        min-height: 145px;
    }.
    .progcard {
        padding: 50px 60px 40px;
    }
    .progcard.quoters {
        padding: 50px 60px;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .tabspanel .nav-tabs>li>a {
        padding: 10px 0;
    }
    .quoters .swiper-slide {
        padding: 40px 60px;
    }
    .cardread .greenbgop15.lines3 {
        min-height: 98px;
    }
    .tabspanel.stickytabs .nav-tabs {
        padding-top: 56px;        
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .titlebg {
        padding-top: 300px;
    }
    .longrightsm .comptext .panelleft:after {
        display: none;
    }
    .longrightsm .comptext .panelright:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 1px;
        background: rgba(0, 0, 0, 0.1);
        right: initial;
        left: 0;
    }
    .panelright .innerhr {
        width: 70px;
    }
    .tabspanel .nav-tabs>li>a {
        padding: 10px 0;
    }
    .stickytabs .container {
        width: 100%;
    }
    .tab-content {
        padding-top: 75px;
    }
    .compintro {
        padding-bottom: 30px;
    }
    .compintro .imager {
        min-height: 285px;
    }
    .compintro .greenbg {
        padding: 30px;
        margin-top: -88px;
    }
    .intropara .obsv:after {
        height: 110%;
    }
    .cardread .greenbgop15.lines2, .cardread .greenbgop15.lines2sm {
        min-height: 78px;
    }
    .cardread .greenbgop15.lines3, .cardread .greenbgop15.lines3sm {
        min-height: 97px;
    }
    .cardread .greenbgop15.lines4, .cardread .greenbgop15.lines4sm {
        min-height: 116px;
    }
    .cardread .greenbgop15.lines5sm {
        min-height: 135px;
    }
    .cardread .greenbgop15.lines6sm {
        min-height: 154px;
    }
    .tabspanel.stickytabs .nav-tabs {
        padding-top: 50px;
    }
    .secagain.seclast {
        padding-bottom: 75px;
    }
    .comptext .panelleft h3.contxt {
        line-height: 36px;
        padding-bottom: 15px;
    }
    .progcard2 {
        padding: 30px 40px 40px;
    }
    .quoters .swiper-slide {
        padding: 40px 75px;
    }
    .quoters {
        padding-bottom: 20px;
    }
    .quoters .p1, .progcard .p2 {
        font-size: 13px;
        line-height: 24px;
    }
    .progcard, .progcard.quoters {
        padding: 40px;
    }
    .comptext .panelleft {
        padding-right: 30px;
    }
    .comptext .panelright {
        padding-left: 30px;
    }
    .panelright hr {
        margin: 30px 0 30px -30px;
    }
}

@media (max-width: 767px) {
    .pagetitle {
        margin-top: 51px;
    }
    .pagetitle .titlebg {
        background: none !important;
        padding-top: 0;
    }
    .pagetitle h1 {
        text-align: center;
        font-size: 19px;
        line-height: 25px;
        padding: 20px 10px;
    }
    .titlebg {
        padding-top: 200px;
    }
    .intropara {
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;
    }
    .intropara .obsv h3 {
        text-align: center;
    }
    .pagetitle h1.greentext, .intropara .obsv, .intropara .aim, .comptext .panelleft, .comptext .panelright {
        padding-left: 15px;
        padding-right: 15px;
    }
    .intropara .obsv, .compintro {
        padding-bottom: 20px;
    }
    .intropara .aim {
        padding-top: 30px;
    }
    .intropara .aim:after {
        right: initial;
        left: 15px;
        height: 1px;
        width: calc(100% - 30px);
    }
    .intropara .obsv:after {
        left: 15px;
        bottom: -5px;
        top: initial;
        height: 1px;
        width: calc(100% - 30px);
    }
    .intropara .obsv .p2 {
        font-size: 12px;
        line-height: 19px;
        margin-bottom: 0;
        text-align: center;
    }
    .tabspanel .nav-tabs {
        padding-top: 30px;
    }
    .findrop {
        width: calc(100% - 2px);
        margin-left: 1px;
        margin-top: 30px;
        background: #fff;
    }
    .stickytabs .findrop {
        width: 100%;
        margin-left: 0;
        margin-top: 52px;
    }
    .stickytabs {
        box-shadow: none;
        background: none;
    }
    .compintro .imager {
        min-height: 30vh;
        margin-top: -25px;
        margin-left: 15px;
        width: calc(100% - 30px);
    }
    .compintro .greenbg {
        width: 110%;
        margin-left: -5%;
    }
    .tab-content {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .tab-content .titlebg {
        background: none !important;
        padding-top: 0;
        margin-bottom: 0;
    }
    .secagain.seclast {
        padding-bottom: 0;
    }
    .tab-content .titlebg .greenbg {
        padding: 25px 15px 50px;
    }
    .panelxsimg {
        margin-top: -20px;
        padding-bottom: 25px;
    }
    .compintro .greenbg {
        padding: 30px 15px 50px;
        margin-top: 0;
    }
    .comptext .panelleft {        
        padding-bottom: 40px;
    }
    .comptext .panelleft h3.contxt {
        font-size: 16px;
        line-height: 30px;
        padding-bottom: 20px;
        text-align: center;
        border-bottom: solid 1px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
        font-weight: 400;
    }
    .comptext .panelleft:after, .longright .comptext .panelright:after {
        display: none;
    }
    .cardread {
        padding: 30px;
        background: rgba(84, 191, 114, 0.1);
    }
    .cardread h2 {
        margin-bottom: 15px;
    }
    .cardread .col-md-6:nth-child(odd), .cardread .col-md-6:nth-child(even) {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0;
    }
    .cardread .greenbgop15 {
        background: none;
        padding: 0 15px 10px;
    }
    .cardread .greenbgop15.lines2, .cardread .greenbgop15.lines3, .cardread .greenbgop15.lines4 {
        min-height: initial;
    }
    .cardread .greenbgop15:before {
        content: "\e080";
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        position: absolute;
        left: -5px;
        top: 2px;
        font-size: 10px;
        opacity: 0.3;
        color: #54bf72;
    }
    .progcard {
        padding: 30px;
        margin-bottom: 15px;
    }
    .quoters {
        background: none;
        overflow: auto;
        width: 110%;
        margin-top: 15px !important;
        padding: 4px 20px 4px 4px;
        box-shadow: none;
    }
    .quoters.progcard {
        padding: 30px;
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        width: 100%;
    }
    .quoters .swiper-slide {
        padding: 30px 30px;
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        margin-right: 20px;
    }
    .quoters.progcard2 .swiper-slide {
        box-shadow: none;
    }
    .quoters.progcard2 .swiper-slide h3 {
        font-size: 15px;
        line-height: 26px;
    }
    .quoters.progcard2 .swiper-slide p {
        font-size: 12px;
        line-height: 21px;
    }
    .quoters.swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 0;
        display: none;
    }
    .quoters .swiper-button-next, .quoters .swiper-button-prev {
        display: none;
    }
    .quoters .swiper-slide .p3, .comptext .panelleft .progcard:nth-last-child(1) {
        margin-bottom: 0;
    }
    .quoters .p1.greentext {
        font-size: 14px;
        line-height: 25px;
    }
    .quoters .p3.fw5 {
        font-size: 12px;
        line-height: 20px;
    }
    .progcard img {
        margin-top: 0;
    }
    .panelright hr {
        margin: 30px 0;
        width: calc(100% - 30px);
    }
    .panelright .innerhr {
        margin: 15px auto;
        width: 77px;
    }
    .panelright hr.mobxs {
        margin: 30px 0;
        width: 100%;
    }
    .panelright div:nth-child(1).col-xs-12.nopad .p2 {
        text-align: center;
    }
    .comptext .panelright div p.p3 {
        margin-bottom: 0;
    }
    .panelright div.col-xs-12.nopad {
        /*margin-bottom: 20px;*/
        padding: 0;
        text-align: center;
        /*background-color: #f9f9f9;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);*/
    }
    .panelright div.col-xs-12.nopad.contexted {
        padding: 0 0 20px;
        background: none;
        box-shadow: none;
    }
    .panelright div.col-xs-12.nopad:nth-last-child(1) {
        margin-bottom: 0;
    }
    .panelright .imps {
        margin-bottom: 10px;
    }
    .panelright h2 {
        padding-bottom: 15px;
        font-size: 19px;
        line-height: 25px;
        opacity: 1;
    }
    .panelright .quoters {
        margin-top: 30px !important;
    }
    .panelright .progcard {
        margin-top: 40px;
    }
    .panelright .progcard p.p3 {
        font-weight: 600;
    }
    .panelright div.col-xs-12.nopad.awarded {
        padding: initial;
    }
    .panelright .awarded p {
        text-align: left;
    }
    .panelright .awarded .progcard, .panelright .awarded .quoters {
        margin-top: 10px !Important;
    }
    .secagain {
        padding-top: 50px;
    }
    .comptext .panelright div.cased p.p3 {
        margin-bottom: 20px;
        text-align: left;
    }
    .comptext .panelright div.cased h3 {
        font-size: 19px;
        line-height: 25px;
    }
    .comptext .panelright div.cased p.p3:nth-last-child(1) {
        margin-bottom: 0;
    }
    .panelright div.col-xs-12.nopad.cased, .panelright .cased div.col-xs-12.nopad.imgcontainer {
        padding: 0;
        background: none;
        box-shadow: none;
    }
}